<!DOCTYPE html>
<html>
<head>
<title>Word Unscrambler</title>
<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" language="javascript">
	$(document).ready(
		function() {
			$("#alist").animate({'top': '+=15'}, 200);
		});
</script>
</head>
<body OnLoad="document.form1.anagram_input.focus();">
<form name="form1" method="post">
	<input type="text" name="anagram_input" placeholder="Type a word to be unscrambled."><br>
	{% if current_anagrams and previous_anagrams %}
		<input type="hidden" name="previous_anagrams" value="{{ current_anagrams }}<hr/>{{ previous_anagrams }}">
	{% else %}
		<input type="hidden" name="previous_anagrams" value="{{ current_anagrams }}{{ previous_anagrams }}">
	{% endif %}
</form>
{% if current_anagrams %}
<div class="word_container">
	<div id="alist">
		{{ current_anagrams }}{% if previous_anagrams %}<hr/>{% endif %}{{ previous_anagrams }}
	</div>
</div>
{% else %}
<div class="word_container">
{{ current_anagrams }}{{ previous_anagrams }}
</div>
{% endif %}
</div>
</body>
</html>
