body {
	background-image: url('images/background.png');
	background-repeat: repeat;
	overflow: hidden;
}

hr {
	width: 100px;
	opacity: 0.3;
}

footer {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 18px;
	margin: 0 -10px;
	left: 0px;
	bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.footer_box {
	position:absolute;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100px;
	height: 100%;
	right: 0px;
	padding-right: 5px;
	font-family: 'Nixie One', cursive;
	font-size: 14px;
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-animation-name: pulseWidth;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 2s;
}

.footer_box {
}

.inputBox {
	position: absolute;
	width: 800px;
	height: 45px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	top: 50px;
	border: 2px solid;
	border-color: black;
	border-radius: 4px;
	outline: none;
	overflow: hidden;
	font-family: 'Nixie One', cursive;
	font-size: 20px;
	-webkit-font-smoothing: subpixel-antialiased;
	text-align: center;
	opacity: 0.7;
	transition: opacity 0.30s ease-in-out;
	-moz-transition: opacity 0.30s ease-in-out;
	-webkit-transition: opacity 0.30s ease-in-out;
}

.inputBox:hover, .inputBox:focus {
	opacity: 1.0;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}

#word_container {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	width: 800px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	top: 145px;
	bottom: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-align: center;
	font-family: 'Nixie One', cursive;
	font-size: 18px;
	color: white;
}

#word_container::-webkit-scrollbar {
	display: none;
	width: 0px;
}

.wordnew {
	position: absolute;
	width: 500px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	padding-top: 0px;
}

.wn_nadd {
	position: absolute;
	width: 500px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	padding-top: 30px;
}

.wordold {
	position: relative;
	width: 500px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
}
